
body {
  padding: 0%;
  margin: 0%;
  background: url(./Fotos/Fondo.jpg) center/cover no-repeat ; 
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Cambia el último valor (0.5) para ajustar la opacidad */
  z-index: -1; /* Asegúrate de que la capa esté detrás del contenido principal */
}

.fullpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
}

.texto1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.titulo {
  color: white;
  font-size: 400%;

}

.subtitulo {
  color: red;
  font-size: 400%;
}

.textosubtitulo{
  color: white;
  font-size: 100%;
}

.img-part{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 50px;
}


.imagenpart1{
  position: relative;
}

.img {
  width: 400px;
  height: 500px;
  border: red 2px solid;
  margin-left: 40px;
}

.puntuacion1{
  background-color: black;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: -155px;
  width: 100%;
  height: 150px;
  display: none;
  position: absolute;
}

.imagenpart1:hover .puntuacion1{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.imagenpart1:hover .puntuacion1 .textop{
  font-size: 140%;
  color: white; 
}

.imagenpart1-back{
  font-size: 100%;
  background-color: black;
  opacity: 0.8;
}

.textoreves{
  color: white;
}


.imagenpart2{
  position: relative;
}

.puntuacion2{
  background-color: black;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: -155px;
  width: 100%;
  height: 150px;
  display: none;
  position: absolute;
}

.imagenpart2:hover .puntuacion2{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.imagenpart2:hover .puntuacion2 .textop{
  font-size: 140%;
  color: white; 
}

.imagenpart3{
  position: relative;
}

.puntuacion3{
  background-color: black;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: -155px;
  width: 100%;
  height: 150px;
  display: none;
  position: absolute;
}

.imagenpart3:hover .puntuacion3{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.imagenpart3:hover .puntuacion3 .textop{
  font-size: 140%;
  color: white; 
}

.estrellas {
  width:  100px;
  height: auto;
  display: flex;

}

.nombre {
  font-size: 150%;
  color: white;
}

.action {
  display: flex;
  scroll-snap-type: x mandatory;
  white-space: nowrap; /* Añade esta línea para evitar que los elementos del carrusel se desplacen a la siguiente línea */
}

/*  adsasdas */


.card-container > div {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.imagenpart1, .imagenpart2, .imagenpart3, 
.imagenpart1-back, .imagenpart2-back, .imagenpart3-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-container.is-flipped > div {
  transform: rotateY(180deg);
}