body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}
.encabezado{
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
}
.titulo-instalaciones{
    color: red;
    margin: 0;
    padding: 0;
}


.navbar {
  top: 0;
  left: 0;
  width: 100%;
  padding: 2px 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  z-index: 1000;
  border-bottom: 1px solid #ffffff;
   
}


/* REDES SOCIALES */

.left-section {
  min-width: 15px;
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
}

.left-section .social-circle {
  margin-top: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 5px; /* Ajusta el margen entre los círculos según tus preferencias */
}

.left-section .social-circle a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.left-section .social-circle i {
  margin-top: 3px;
}


.nav-item {
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 21px;
  font-family: Bebas Neue;
  margin-right: 20px;
  align-items: right;
}

.nav-item.active {
  color: red;
}
.primer-parrafo, .segundo-parrafo, .tercer-parrafo {
    display: flex;
    align-items: center; /* Asegúrate de que la imagen y el texto estén alineados en el centro verticalmente */
    justify-content: center; /* Centrar los elementos horizontalmente */
    font-size: 20px;
    margin: 40px;
    margin-bottom: 2em;
    text-align: left; /* Alinear el texto a la izquierda */
    gap: 20px; /* Agrega espacio entre la imagen y el texto */
  }
.primer-parrafo p, .segundo-parrafo p , .tercer-parrafo p{
    height: 15em;
    width: 50em;
    font-size: 1em;
    text-align: justify;
}