body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #000;
}

.container {
  display: flex;
  height: 100vh;
}

.imagen-inscripcion {
  flex: 1;
  background-image: url('/VAMOSAEMPEZARYA/foto/fotoInscripcion.jpg'); 
    width: 60%;
    height: 95%;
    z-index: 1; /* Añadido para asegurarse de que esté encima del overlay y el contenido */
    top: 80%; 
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 50%;
    background-size: cover;
  
}

.content-container {
  flex: 1;
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5%;
}

h1 {
  font-size: 50px;
  margin: 0;
}

h2 {
  font-size: 50px;
  margin: 0;
}

.A-ENTRENAR-YA {
  color: red;
}

p {
  font-size: 18px;
  text-align: justify ;
}

form {
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #000;
}
