@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  box-sizing: border-box; /* cambiado de content-box a border-box */
  background-image: url('/assets/images/HOME2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  max-height: 100vh; /* Asegurarse de que al menos sea tan alto como la ventana gráfica */

}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Cambia el último valor (0.5) para ajustar la opacidad */
  z-index: -1;
  /* Asegúrate de que la capa esté detrás del contenido principal */
}

.navbar-responsive{
  display: none;
}

.navbar {
  position: fixed;
  /* Cambiado de absolute para fijar la navbar */
  top: 0;
  left: 0;
  width: 100%;
  padding: 2px 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  /* Cambiado a un color sólido para visualizar la navbar */
  color: white;
  z-index: 1000;
  border-bottom: 1px solid #ffffff;
}

/* REDES SOCIALES */

.left-section {
  min-width: 15px;
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
}

.left-section .social-circle {
  margin-top: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 5px;
  /* Ajusta el margen entre los círculos según tus preferencias */
}

.left-section .social-circle a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.left-section .social-circle i {
  margin-top: 3px;
}


.nav-item {
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 21px;
  font-family: Bebas Neue;
  margin-right: 20px;
  align-items: right;
}

.nav-item.active {
  color: red;
}

.right-section {
  display: flex;
  align-items: center;
}

.home-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  margin-top: 8%;
  margin-bottom: 5%;
}

.welcome-text {
  max-width: 800px;
  text-align: left;
  display: flex;
  flex-direction: column;
  color: #ffffff;

}

.welcome-text h1 {
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 10%;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  margin-left: 50px;
  margin-bottom: 0%;
}

.welcome-text .core {
  color: rgb(255, 0, 0);
}

.welcome-text .red {
  color: red;
}

.welcome-text h2 {
  font-size: 20px;
  margin-top: 5px;
  max-width: 100%;
  word-wrap: break-word;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #ffffff;
  margin-left: 50px;
}

.button-container {
  margin-top: 20px;
  text-align: left;
  margin-left: 10%;
}

.red-button {
  background-color: transparent;
  color: red;
  border: 5px solid red;
  padding: 5px 30px;
  font-size: 25px;
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.red-button:hover {
  background-color: red;
  color: white;
}


/* Estilos para LEVEL y UP */


.additional-texts {
  position: absolute;
  right: 20px;
  margin-bottom: 10%;
  margin-right: 5%;
}

.additional-texts h3 {
  font-size: 220px;
  margin: -36px 0;
  text-align: right;
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style:initial;
  letter-spacing: 26%;
  stroke: 3;
}



.experience-section {
  display: flex;
  flex-direction: wrap;
  padding: 5px;
  margin-top: 20px;
  overflow-x: auto;
  /* Agrega una barra de desplazamiento horizontal si es necesario */
  margin-right: 1072px;
  justify-content: center;
  align-items: center;
}


.experience-item {
  text-align: left;
  /* Alinea el texto a la izquierda */
  margin-bottom: 10px;
  /* Reduce el margen inferior entre los elementos */
  position: relative;
  padding-left: 10%;
}

.experience-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  width: 2px;
  background-color: #ff0000;
}

.experience-item:first-child::before {
  display: none;

}

.number {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 10px;
  color: #ff4500;
}


.description {
  font-size: 16px;
  color: #ffffff;
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
}


/* Para agregar un salto de línea */
.description br {
  display: block;
  content: "";
  margin-top: 0;
}


/*SERVICIOS*/

.services-container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #000000;
  color: white;
  background-size: cover;
  background-position: center;
  margin-top: 40px;
}

.services-title {
  font-size: 80px;
  text-align: center;
  color: transparent;
  /* Hacemos el texto transparente */
  margin-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(to right, #ffffff 50%, #ff0000 50%);
  /* Gradiente que cambia de rojo a blanco en la mitad */
  background-clip: text;
  /* Aplicamos el fondo solo al área ocupada por el texto */
  -webkit-background-clip: text;
  /* Para compatibilidad con navegadores basados en WebKit como Chrome y Safari */
}

.services-description {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.service-item {
  background-color: transparent;
  padding: 50px;
  /* Ajusta el valor de padding según tus necesidades */
  position: relative;
  border: 1px solid red;
  margin: 5%;
}

.service-title {
  font-size: 32px;
  color: #ff0000;
  margin-top: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.service-description {
  font-size: 1em;
  color: #ffffff;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

a.service-item {
  text-decoration: none;


}  

.service-number {
  position: absolute;
    bottom: -10px;
    align-items: flex-start;
    /* padding: 5px 0px; */
    font-size: 2em;
    color: #fff;
    margin-bottom: 3%;
    font-family: "Bebas Neue", sans-serif;
}

/*Formulario*/
.container-inscripcion {
  display: flex;
  background-color: #000;
  margin-top: 40px;
}
.container-izq {
  color: white;
  flex-basis: 50%; /* Ocupa el 50% del contenedor principal */
  padding: 20px; /* Espaciado interior para el texto */
}

.imagen-inscripcion {
  flex: 2;
  background-image: url('/assets/images/fotoInscripcion.jpg'); 
    height: 820px;
    z-index: 1; /* Añadido para asegurarse de que esté encima del overlay y el contenido */
    top: 100%; 
    background-size: cover;
    background-position:center;
}

.h1-inscripcion  {
  text-align: left;
  margin-top: 5%; 
  font-family: 'Bebas Neue', sans-serif;
  font-size: 150px;
  color: #fff;
  line-height: 140px;
 }

 .color-destacado{
  color: red;
 }

 .A-ENTRENAR-YA{
  color: #ff0000;
 }

 .p-inscripcion {
  float: left; /* Hace que el texto flote hacia la izquierda */
  margin-right: 10%;
  font-size: 26px; /* Aumenta el tamaño de la letra  */
  text-align: left; /* Justifica el texto*/
  color: #fff;
 }

.container-derch {
  flex-basis: 50%; /* Ocupa el 50% del contenedor principal */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #000;
}

.celdas {
  padding-right: 40px;
}

/*OPINIONES*/

.container-opiniones{
  background-color: #000;
  margin-top: 40px;
}

.color-clientes{
  color: #ff0000;
}

.encabezado{
  width: auto;
  height: auto;
  padding: 20px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color:#fff ;
  background-color: #000;
}
.primer-parrafo, .segundo-parrafo, .tercer-parrafo{
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 40px;
}
.columna-fotos{
  position: absolute;
  width: 100px;
  height: 800px;
  border: 3px solid rgb(235, 0, 0);
  float: right;
  display: flex;
  flex-direction: column;
  place-content: space-between;
  float: left;
  /*border-radius: 300px; */
  
}
.columna-texto{
  font-size: 20px;
  margin: 40px;
  color: #ffffff;
  padding-bottom: 20px;
}
.foto-luis {
width: 100px;
height: 100px;
background-image: url(/assets/images/Foto\ Luis.jpg);
background-size: cover;
background-position: center;
border-radius: 100%;
margin-right: 80px; /* Agrega un margen a la derecha de la imagen */
}
.foto-jaime{
  width: 100px;
  height: 100px;
  background-image: url(/assets/images/Foto\ Escarcheto.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: 80px; /* Agrega un margen a la derecha de la imagen */
}
.foto-gabs{
  width: 100px;
  height: 100px;
  background-image: url(/assets/images/Foto\ gabs.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: 80px; /* Agrega un margen a la derecha de la imagen */
}
.primer-parrafo, .segundo-parrafo, .tercer-parrafo {
display: flex;
align-items: center; /* Asegúrate de que la imagen y el texto estén alineados en el centro verticalmente */
justify-content: center; /* Centrar los elementos horizontalmente */
font-size: 20px;
margin: 40px;
text-align: left; /* Alinear el texto a la izquierda */
gap: 20px; /* Agrega espacio entre la imagen y el texto */
}



/* Si quieres que la imagen siempre esté a la izquierda del texto, independientemente de la dirección del texto */
.primer-parrafo, .segundo-parrafo, .tercer-parrafo {
flex-direction: row; /* Coloca los elementos en una fila */
}

/* Ajusta el tamaño del párrafo para no utilizar anchuras fijas que no son responsivas */
.primer-parrafo p, .segundo-parrafo p, .tercer-parrafo p {
max-width: 80%; /* O un valor que se adapte bien a tu diseño */
margin: 0; /* Elimina los márgenes por defecto del párrafo */
text-align: justify;
}

/*UBICACION*/

.encabezado-Ubicacion, .gym-abajo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  color: red;
  padding: 10px 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  margin-bottom: 0;
  background-color: #000;
}

.container-Ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #000;
  flex-direction: column;
}

.foto-ubicacion{
  background-image: url(/assets/images/foto-ubicacion.jpg);
  width: 30em;
  height: 30em;
  background-size: cover;
  background-position: center;
  margin: 0;
  outline: 3px solid red;
  outline-offset: 15px;
  cursor: pointer;
}

/*FOOTER*/

.footer {
  width: 100%;
}

.container-footer {
	display: flex;
  align-items: center;
  flex-direction: column;
	gap: 5rem;
	padding: 3rem;
  border: 4px solid red;
  background-color: #000;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
  color: red;
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

ul li {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.contact-info,
.information,
.my-account,
.familia-coreevolution {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul,
.familia-coreevolution ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li,
.familia-coreevolution ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}


@media (max-width: 768px) {

/*SECCION PRIMEA x NAVEGACION*/

body{
  background-image: url(/assets/images/HOME.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  max-height: 20vh; 
}

.navbar-responsive{
  display: block;
}

.left-section {
  min-width: 15px;
  display: flex;
  justify-content: right;
  margin-right: 5%;
}

.left-section .social-circle {
  margin-top: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 5px;
  /* Ajusta el margen entre los círculos según tus preferencias */
}

.left-section .social-circle a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.left-section .social-circle i {
  margin-top: 3px;
}

.navbar-responsive nav {
  background: #000000;
  border-bottom: 1px solid #ddd;
  height: 60px;
  position: relative;
}

.navbar-responsive .nav-links {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.navbar-responsive .nav-links::before {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transition: all 0.3s;
}

.navbar-responsive .nav-links li {
  border-bottom: 1px solid #ddd;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s;
}

.navbar-responsive .nav-links li a {
  background: #000000;
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 20px;
  text-align: left;
  width: 100%;
  transition: all 0.3s;
  font-family: "Bebas Neue", sans-serif;
}

.navbar-responsive .nav-links li a:hover {
  color: coral;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

input[type="checkbox"]:checked + label {
  border: 4px solid silver;
  border-radius: 50%;
  height: 28px;
  top: 16px;
  left: 18px;
  width: 28px;
  transform: rotate(-135deg);
}

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:checked + label::after {
  background: silver;
  top: 8px;
  left: 4px;
  width: 12px;
}

input[type="checkbox"]:checked + label:hover {
  border-color: rgb(250, 0, 0);
}

input[type="checkbox"]:checked + label:hover::before,
input[type="checkbox"]:checked + label:hover::after {
  background: rgb(255, 0, 0);
}

input[type="checkbox"]:checked ~ .nav-links::before {
  opacity: 1;
  visibility: visible;
}

input[type="checkbox"]:checked ~ .nav-links li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

label {
  background: none transparent;
  border: 4px solid rgb(255, 80, 80);
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  top: 18px;
  left: 20px;
  width: 24px;
  transition: all 0.2s;
}

label::before {
  background: rgb(255, 80, 80);
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 24px;
  transition: all 0.2s;
}

label::after {
  background: rgb(255, 0, 0);
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 14px; /* Ajusta esto si es necesario para alinear con el pseudo-elemento ::before */
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transform: rotate(90deg);
  transition: all .2s;
}

/* Estilos para el label cuando el checkbox está marcado */
input[type="checkbox"]:checked + label::after {
  opacity: 1;
  visibility: visible;
  transform: rotate(45deg); /* Rotar para formar una 'X' con ::before */
}

/* Estilos adicionales para la navegación */
.navbar-responsive {
  position: relative;
}

.navbar-responsive nav {
  width: 100%;
  /* Asegúrate de que el nav sea visible y accesible */
}



.navbar-responsive .nav-links {
  /* Estilos para la lista de navegación, incluyendo la transición y visibilidad */
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; /* Ocultar por defecto */
}

.navbar-responsive input[type="checkbox"]:checked ~ .nav-links {
  display: block; /* Mostrar cuando el checkbox esté marcado */
}


.navbar{
  display: none;
}

.additional-texts{
  display: none;
}

.home-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding: 10px;
}

.welcome-text {
  text-align: center;
  margin-left: 0;
}

.welcome-text h1 {
  margin-top: 5%;
  margin-left: 0;
  font-size: 50px; /* Tamaño de fuente ajustado para pantallas pequeñas */
}

.welcome-text h2 {
  margin-left: 0;
  font-size: 16px; /* Tamaño de fuente ajustado para pantallas pequeñas */
}

.button-container {
  margin-top: 20px;
  text-align: center;
  margin-left: 0;
}

.additional-texts {
  flex-direction: row;
  justify-content: center;
}

.red-button {
  font-size: 20px; /* Tamaño de fuente ajustado para pantallas pequeñas */
}

.experience-section {
display: none;
}

.container-responsive {
  display: flex; /* Muestra el menú responsive */
  flex-direction: column;
  align-items: center;
  background-color: #000; /* Fondo del menú desplegable */
  position: absolute;
  top: 60px; /* Ajustar si es necesario */
  width: 100%;
  display: none;
}

.container-responsive a {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #fff; /* Líneas entre opciones */
}

/*SEVICIOS*/
.service-item{
  padding: 10px;
  max-width: 100%;
}

.service-title{
  margin-top: 10px;
}

.service-description{
  padding: 10px 10px 10px;
  margin-bottom: 20%;
  line-height: 30px;
}

.service-number{
  padding: auto;
  margin-left: 10px;
  margin-bottom: 36px;
}

/*FORMULARIO*/

.imagen-inscripcion {
  flex: 2;
  background-image: url(/assets/images/fotoInscripcion.jpg);
  height: 600px;
  z-index: 1;
  top: 100%;
  background-size: cover;
  background-position: center;
}

.h1-inscripcion{
  line-height: 50px;
  font-size: 50px;
}

.A-ENTRENAR-YA{
  color: #ff0000;
  font-size: 50px;
 }

.p-inscripcion {
  /* float: left; */
  margin-right: 10%;
  /* margin-left: 5%; */
  font-size: 20px;
  text-align: left;
  color: #fff;
}

button {
  padding: 7px 20px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*CLIENTES*/

.foto-luis {
  width: 100px;
  height: 100px;
  background-image: url(/assets/images/Foto\ Luis.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: auto;

}

.foto-jaime{
  width: 100px;
  height: 100px;
  background-image: url(/assets/images/Foto\ Escarcheto.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: auto;
 
}
.foto-gabs{
  width: 100px;
  height: 100px;
  background-image: url(/assets/images/Foto\ gabs.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: auto;
}


/*FOTER*/
.menu-footer {
  display: grid;
  grid-template-columns: 1fr; /* Ajusta a 3 columnas en lugar de 1 */
  justify-content: center;
  align-items: start; /* Alinea los elementos al inicio */
  gap: 3rem;
  padding: 2rem; /* Agrega padding para que no esté pegado a los bordes */
}

.title-footer {
  font-size: 1.4rem; /* Aumenta un poco el tamaño si es necesario */
  text-align: center; /* Asegúrate de que el texto esté centrado */
  margin-bottom: 1rem; /* Agrega un margen abajo para separarlo de la lista */
}

ul {
  list-style: none; /* Remueve los bullets de la lista */
  padding: 0; /* Remueve el padding por defecto de las listas */
  margin: 0; /* Remueve el margen por defecto de las listas */
}

ul li {
  font-size: 1.2rem;
  text-align: center; /* Asegura que el texto esté centrado */
  margin-bottom: 0.5rem; /* Agrega un pequeño margen entre elementos de la lista */
}

/* Agrupa las clases que comparten las mismas propiedades para evitar repetición */
.contact-info,
.information,
.my-account,
.familia-coreevolution {
  display: flex; /* Usa flexbox para mejor control del layout */
  flex-direction: column;
  align-items: center;
  text-align: center; /* Asegura que el texto esté centrado */
}

}


@media (max-width: 1024px){
  /*SECCION PRIMEA x NAVEGACION*/

body{
  background-image: url(/assets/images/HOME.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  max-height: 20vh; 
}

.navbar-responsive{
  display: block;
}

.left-section {
  min-width: 15px;
  display: flex;
  justify-content: right;
  margin-right: 5%;
}

.left-section .social-circle {
  margin-top: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 5px;
  /* Ajusta el margen entre los círculos según tus preferencias */
}

.left-section .social-circle a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.left-section .social-circle i {
  margin-top: 3px;
}

.navbar-responsive nav {
  background: #000000;
  border-bottom: 1px solid #ddd;
  height: 60px;
  position: relative;
}

.navbar-responsive .nav-links {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.navbar-responsive .nav-links::before {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transition: all 0.3s;
}

.navbar-responsive .nav-links li {
  border-bottom: 1px solid #ddd;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s;
}

.navbar-responsive .nav-links li a {
  background: #000000;
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 20px;
  text-align: left;
  width: 100%;
  transition: all 0.3s;
  font-family: "Bebas Neue", sans-serif;
}

.navbar-responsive .nav-links li a:hover {
  color: coral;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

input[type="checkbox"]:checked + label {
  border: 4px solid silver;
  border-radius: 50%;
  height: 28px;
  top: 16px;
  left: 18px;
  width: 28px;
  transform: rotate(-135deg);
}

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:checked + label::after {
  background: silver;
  top: 8px;
  left: 4px;
  width: 12px;
}

input[type="checkbox"]:checked + label:hover {
  border-color: rgb(250, 0, 0);
}

input[type="checkbox"]:checked + label:hover::before,
input[type="checkbox"]:checked + label:hover::after {
  background: rgb(255, 0, 0);
}

input[type="checkbox"]:checked ~ .nav-links::before {
  opacity: 1;
  visibility: visible;
}

input[type="checkbox"]:checked ~ .nav-links li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

label {
  background: none transparent;
  border: 4px solid rgb(255, 80, 80);
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  top: 18px;
  left: 20px;
  width: 24px;
  transition: all 0.2s;
}

label::before {
  background: rgb(255, 80, 80);
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 24px;
  transition: all 0.2s;
}

label::after {
  background: rgb(255, 0, 0);
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 14px; /* Ajusta esto si es necesario para alinear con el pseudo-elemento ::before */
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transform: rotate(90deg);
  transition: all .2s;
}

/* Estilos para el label cuando el checkbox está marcado */
input[type="checkbox"]:checked + label::after {
  opacity: 1;
  visibility: visible;
  transform: rotate(45deg); /* Rotar para formar una 'X' con ::before */
}

/* Estilos adicionales para la navegación */
.navbar-responsive {
  position: relative;
}

.navbar-responsive nav {
  width: 100%;
  /* Asegúrate de que el nav sea visible y accesible */
}



.navbar-responsive .nav-links {
  /* Estilos para la lista de navegación, incluyendo la transición y visibilidad */
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; /* Ocultar por defecto */
}

.navbar-responsive input[type="checkbox"]:checked ~ .nav-links {
  display: block; /* Mostrar cuando el checkbox esté marcado */
}


.navbar{
  display: none;
}

.additional-texts{
  display: none;
}

.home-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding: 10px;
}

.welcome-text {
  text-align: center;
  margin-left: 0;
}

.welcome-text h1 {
  margin-top: 5%;
  margin-left: 0;
  font-size: 50px; /* Tamaño de fuente ajustado para pantallas pequeñas */
}

.welcome-text h2 {
  margin-left: 0;
  font-size: 16px; /* Tamaño de fuente ajustado para pantallas pequeñas */
}

.button-container {
  margin-top: 20px;
  text-align: center;
  margin-left: 0;
}

.additional-texts {
  flex-direction: row;
  justify-content: center;
}

.red-button {
  font-size: 20px; /* Tamaño de fuente ajustado para pantallas pequeñas */
}

.experience-section {
display: none;
}

.container-responsive {
  display: flex; /* Muestra el menú responsive */
  flex-direction: column;
  align-items: center;
  background-color: #000; /* Fondo del menú desplegable */
  position: absolute;
  top: 60px; /* Ajustar si es necesario */
  width: 100%;
  display: none;
}

.container-responsive a {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #fff; /* Líneas entre opciones */
}

/*SEVICIOS*/
.service-item{
  padding: 10px;
  max-width: 100%;
}

.service-title{
  margin-top: 10px;
}

.service-description{
  padding: 10px 10px 10px;
  margin-bottom: 20%;
  line-height: 30px;
}

.service-number{
  padding: auto;
  margin-left: 10px;
  margin-bottom: 36px;
}

/*FORMULARIO*/

.imagen-inscripcion {
  flex: 2;
  background-image: url(/assets/images/fotoInscripcion.jpg);
  height: 600px;
  z-index: 1;
  top: 100%;
  background-size: cover;
  background-position: center;
}

.h1-inscripcion{
  line-height: 50px;
  font-size: 50px;
}

.A-ENTRENAR-YA{
  color: #ff0000;
  font-size: 50px;
 }

.p-inscripcion {
  /* float: left; */
  margin-right: 10%;
  /* margin-left: 5%; */
  font-size: 20px;
  text-align: left;
  color: #fff;
}

button {
  padding: 7px 20px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*CLIENTES*/

.foto-luis {
  width: 100px;
  height: 100px;
  background-image: url(/assets/images/Foto\ Luis.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: auto;

}

.foto-jaime{
  width: 100px;
  height: 100px;
  background-image: url(/assets/images/Foto\ Escarcheto.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: auto;
 
}
.foto-gabs{
  width: 100px;
  height: 100px;
  background-image: url(/assets/images/Foto\ gabs.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: auto;
}


/*FOTER*/
.menu-footer {
  display: grid;
  grid-template-columns: 1fr; /* Ajusta a 3 columnas en lugar de 1 */
  justify-content: center;
  align-items: start; /* Alinea los elementos al inicio */
  gap: 3rem;
  padding: 2rem; /* Agrega padding para que no esté pegado a los bordes */
}

.title-footer {
  font-size: 1.4rem; /* Aumenta un poco el tamaño si es necesario */
  text-align: center; /* Asegúrate de que el texto esté centrado */
  margin-bottom: 1rem; /* Agrega un margen abajo para separarlo de la lista */
}

ul {
  list-style: none; /* Remueve los bullets de la lista */
  padding: 0; /* Remueve el padding por defecto de las listas */
  margin: 0; /* Remueve el margen por defecto de las listas */
}

ul li {
  font-size: 1.2rem;
  text-align: center; /* Asegura que el texto esté centrado */
  margin-bottom: 0.5rem; /* Agrega un pequeño margen entre elementos de la lista */
}

/* Agrupa las clases que comparten las mismas propiedades para evitar repetición */
.contact-info,
.information,
.my-account,
.familia-coreevolution {
  display: flex; /* Usa flexbox para mejor control del layout */
  flex-direction: column;
  align-items: center;
  text-align: center; /* Asegura que el texto esté centrado */
}
}

@media (max-width: 425px) {
    /*SECCION PRIMEA x NAVEGACION*/

body{
  background-image: url(/assets/images/HOME.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  max-height: 70vh;
   
}

.navbar-responsive{
  display: block;
}

.left-section {
  min-width: 15px;
  display: flex;
  justify-content: right;
  margin-right: 5%;
}

.left-section .social-circle {
  margin-top: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 5px;
  /* Ajusta el margen entre los círculos según tus preferencias */
}

.left-section .social-circle a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.left-section .social-circle i {
  margin-top: 3px;
}

.navbar-responsive nav {
  background: #000000;
  border-bottom: 1px solid #ddd;
  height: 60px;
  position: relative;
}

.navbar-responsive .nav-links {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.navbar-responsive .nav-links::before {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transition: all 0.3s;
}

.navbar-responsive .nav-links li {
  border-bottom: 1px solid #ddd;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s;
}

.navbar-responsive .nav-links li a {
  background: #000000;
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 20px;
  text-align: left;
  width: 100%;
  transition: all 0.3s;
  font-family: "Bebas Neue", sans-serif;
}

.navbar-responsive .nav-links li a:hover {
  color: coral;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

input[type="checkbox"]:checked + label {
  border: 4px solid silver;
  border-radius: 50%;
  height: 28px;
  top: 16px;
  left: 18px;
  width: 28px;
  transform: rotate(-135deg);
}

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:checked + label::after {
  background: silver;
  top: 8px;
  left: 4px;
  width: 12px;
}

input[type="checkbox"]:checked + label:hover {
  border-color: rgb(250, 0, 0);
}

input[type="checkbox"]:checked + label:hover::before,
input[type="checkbox"]:checked + label:hover::after {
  background: rgb(255, 0, 0);
}

input[type="checkbox"]:checked ~ .nav-links::before {
  opacity: 1;
  visibility: visible;
}

input[type="checkbox"]:checked ~ .nav-links li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

label {
  background: none transparent;
  border: 4px solid rgb(255, 80, 80);
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  top: 18px;
  left: 20px;
  width: 24px;
  transition: all 0.2s;
}

label::before {
  background: rgb(255, 80, 80);
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 24px;
  transition: all 0.2s;
}

label::after {
  background: rgb(255, 0, 0);
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 14px; /* Ajusta esto si es necesario para alinear con el pseudo-elemento ::before */
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transform: rotate(90deg);
  transition: all .2s;
}

/* Estilos para el label cuando el checkbox está marcado */
input[type="checkbox"]:checked + label::after {
  opacity: 1;
  visibility: visible;
  transform: rotate(45deg); /* Rotar para formar una 'X' con ::before */
}

/* Estilos adicionales para la navegación */
.navbar-responsive {
  position: relative;
}

.navbar-responsive nav {
  width: 100%;
  /* Asegúrate de que el nav sea visible y accesible */
}



.navbar-responsive .nav-links {
  /* Estilos para la lista de navegación, incluyendo la transición y visibilidad */
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; /* Ocultar por defecto */
}

.navbar-responsive input[type="checkbox"]:checked ~ .nav-links {
  display: block; /* Mostrar cuando el checkbox esté marcado */
}


.navbar{
  display: none;
}

.additional-texts{
  display: none;
}

.home-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding: 10px;
}

.welcome-text {
  text-align: center;
  margin-left: 0;
}

.welcome-text h1 {
  margin-top: 5%;
  margin-left: 0;
  font-size: 50px; /* Tamaño de fuente ajustado para pantallas pequeñas */
}

.welcome-text h2 {
  margin-left: 0;
  font-size: 16px; /* Tamaño de fuente ajustado para pantallas pequeñas */
}

.button-container {
  margin-top: 20px;
  text-align: center;
  margin-left: 0;
}

.additional-texts {
  flex-direction: row;
  justify-content: center;
}

.red-button {
  font-size: 20px; /* Tamaño de fuente ajustado para pantallas pequeñas */
}

.experience-section {
display: none;
}

.container-responsive {
  display: flex; /* Muestra el menú responsive */
  flex-direction: column;
  align-items: center;
  background-color: #000; /* Fondo del menú desplegable */
  position: absolute;
  top: 60px; /* Ajustar si es necesario */
  width: 100%;
  display: none;
}

.container-responsive a {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #fff; /* Líneas entre opciones */
}

/*SEVICIOS*/

.services-grid{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
}

.service-item{
  padding: 10px;
  max-width: 100%;
}

.service-title{
  margin-top: 10px;
}

.service-description{
  padding: 10px 10px 10px;
  margin-bottom: 20%;
  line-height: 30px;
}

.service-number{
  padding: auto;
  margin-left: 10px;
  margin-bottom: 36px;
}

/*FORMULARIO*/

.container-inscripcion {
  display: flex;
  background-color: #000;
  margin-top: 40px;
  flex-direction: column-reverse;
}

.imagen-inscripcion {
  flex: 2;
  background-image: url(/assets/images/fotoInscripcion.jpg);
  height: 600px;
  z-index: 1;
  top: 100%;
  background-size: cover;
  background-position: center;
}

.h1-inscripcion{
  line-height: 50px;
  font-size: 50px;
}

.A-ENTRENAR-YA{
  color: #ff0000;
  font-size: 50px;
 }

.p-inscripcion {
  /* float: left; */
  margin-right: 10%;
  /* margin-left: 5%; */
  font-size: 20px;
  text-align: left;
  color: #fff;
}

.button {
  padding: 7px 20px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*CLIENTES*/

.columna-texto {
  font-size: 20px;
  margin: 40px;
  color: #ffffff;
}

.primer-parrafo p, .segundo-parrafo p, .tercer-parrafo p {
  max-width: 100%;
  margin: 0;
  text-align: center;
}

.foto-luis {
  display: none;
}

.foto-jaime{

  display: none;

}
.foto-gabs{
  display: none;
}

/*UBICACION*/

.foto-ubicacion {
  background-image: url(/assets/images/foto-ubicacion.jpg);
  outline: 3px solid red;
  outline-offset: 15px;
  width: 22em;
  height: 30em;
}

/*FOTER*/
.menu-footer {
  display: grid;
  grid-template-columns: 1fr; /* Ajusta a 3 columnas en lugar de 1 */
  justify-content: center;
  align-items: start; /* Alinea los elementos al inicio */
  gap: 3rem;
  padding: 2rem; /* Agrega padding para que no esté pegado a los bordes */
}

.title-footer {
  font-size: 1.4rem; /* Aumenta un poco el tamaño si es necesario */
  text-align: center; /* Asegúrate de que el texto esté centrado */
  margin-bottom: 1rem; /* Agrega un margen abajo para separarlo de la lista */
}

ul {
  list-style: none; /* Remueve los bullets de la lista */
  padding: 0; /* Remueve el padding por defecto de las listas */
  margin: 0; /* Remueve el margen por defecto de las listas */
}

ul li {
  font-size: 1.2rem;
  text-align: center; /* Asegura que el texto esté centrado */
  margin-bottom: 0.5rem; /* Agrega un pequeño margen entre elementos de la lista */
}

/* Agrupa las clases que comparten las mismas propiedades para evitar repetición */
.contact-info,
.information,
.my-account,
.familia-coreevolution {
  display: flex; /* Usa flexbox para mejor control del layout */
  flex-direction: column;
  align-items: center;
  text-align: center; /* Asegura que el texto esté centrado */
}
}


@media (max-width: 375px) {
  /*SECCION PRIMEA x NAVEGACION*/

body{
background-image: url(/assets/images/HOME.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: rgb(0, 0, 0);
max-height: 80vh; 
max-width: 50vh;
}

.navbar-responsive{
display: block;
}

.left-section {
min-width: 15px;
display: flex;
justify-content: right;
margin-right: 5%;
}

.left-section .social-circle {
margin-top: 2%;
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
align-items: center;
margin-right: 5px;
/* Ajusta el margen entre los círculos según tus preferencias */
}

.left-section .social-circle a {
text-decoration: none;
color: rgb(255, 255, 255);
font-size: 20px;
}

.left-section .social-circle i {
margin-top: 3px;
}

.navbar-responsive nav {
background: #000000;
border-bottom: 1px solid #ddd;
height: 60px;
position: relative;
}

.navbar-responsive .nav-links {
display: block;
position: absolute;
top: 60px;
left: 0;
width: 100%;
}

.navbar-responsive .nav-links::before {
background: rgba(0, 0, 0, 0.5);
content: '';
height: 100vh;
left: 0;
top: 0;
position: absolute;
opacity: 0;
visibility: hidden;
width: 100%;
transition: all 0.3s;
}

.navbar-responsive .nav-links li {
border-bottom: 1px solid #ddd;
opacity: 0;
visibility: hidden;
transform: translateY(-20px);
transition: all 0.3s;
}

.navbar-responsive .nav-links li a {
background: #000000;
color: #ffffff;
display: block;
font-size: 18px;
font-weight: 700;
padding: 12px 20px;
text-align: left;
width: 100%;
transition: all 0.3s;
font-family: "Bebas Neue", sans-serif;
}

.navbar-responsive .nav-links li a:hover {
color: coral;
}

input[type="checkbox"] {
position: absolute;
opacity: 0;
visibility: hidden;
}

input[type="checkbox"]:checked + label {
border: 4px solid silver;
border-radius: 50%;
height: 28px;
top: 16px;
left: 18px;
width: 28px;
transform: rotate(-135deg);
}

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:checked + label::after {
background: silver;
top: 8px;
left: 4px;
width: 12px;
}

input[type="checkbox"]:checked + label:hover {
border-color: rgb(250, 0, 0);
}

input[type="checkbox"]:checked + label:hover::before,
input[type="checkbox"]:checked + label:hover::after {
background: rgb(255, 0, 0);
}

input[type="checkbox"]:checked ~ .nav-links::before {
opacity: 1;
visibility: visible;
}

input[type="checkbox"]:checked ~ .nav-links li {
opacity: 1;
visibility: visible;
transform: translateY(0);
}

label {
background: none transparent;
border: 4px solid rgb(255, 80, 80);
border-left: 0 solid transparent;
border-right: 0 solid transparent;
cursor: pointer;
display: block;
height: 24px;
position: absolute;
top: 18px;
left: 20px;
width: 24px;
transition: all 0.2s;
}

label::before {
background: rgb(255, 80, 80);
content: '';
height: 4px;
left: 0;
position: absolute;
top: 6px;
width: 24px;
transition: all 0.2s;
}

label::after {
background: rgb(255, 0, 0);
content: '';
height: 4px;
left: 0;
position: absolute;
top: 14px; /* Ajusta esto si es necesario para alinear con el pseudo-elemento ::before */
opacity: 0;
visibility: hidden;
width: 100%;
transform: rotate(90deg);
transition: all .2s;
}

/* Estilos para el label cuando el checkbox está marcado */
input[type="checkbox"]:checked + label::after {
opacity: 1;
visibility: visible;
transform: rotate(45deg); /* Rotar para formar una 'X' con ::before */
}

/* Estilos adicionales para la navegación */
.navbar-responsive {
position: relative;
}

.navbar-responsive nav {
width: 100%;
/* Asegúrate de que el nav sea visible y accesible */
}



.navbar-responsive .nav-links {
/* Estilos para la lista de navegación, incluyendo la transición y visibilidad */
list-style: none;
margin: 0;
padding: 0;
display: none; /* Ocultar por defecto */
}

.navbar-responsive input[type="checkbox"]:checked ~ .nav-links {
display: block; /* Mostrar cuando el checkbox esté marcado */
}


.navbar{
display: none;
}

.additional-texts{
display: none;
}

.home-container {
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 0;
padding: 10px;
}

.welcome-text {
text-align: center;
margin-left: 0;
}

.welcome-text h1 {
margin-top: 5%;
margin-left: 0;
font-size: 50px; /* Tamaño de fuente ajustado para pantallas pequeñas */
}

.welcome-text h2 {
margin-left: 0;
font-size: 16px; /* Tamaño de fuente ajustado para pantallas pequeñas */
}

.button-container {
margin-top: 20px;
text-align: center;
margin-left: 0;
}

.additional-texts {
flex-direction: row;
justify-content: center;
}

.red-button {
font-size: 20px; /* Tamaño de fuente ajustado para pantallas pequeñas */
}

.experience-section {
display: none;
}

.container-responsive {
display: flex; /* Muestra el menú responsive */
flex-direction: column;
align-items: center;
background-color: #000; /* Fondo del menú desplegable */
position: absolute;
top: 60px; /* Ajustar si es necesario */
width: 100%;
display: none;
}

.container-responsive a {
text-align: center;
padding: 10px;
border-top: 1px solid #fff; /* Líneas entre opciones */
}

/*SEVICIOS*/

.services-grid{
display: grid;
gap: 20px;
grid-template-columns: repeat(1, 1fr);
}

.service-item{
padding: 10px;
max-width: 100%;
}

.service-title{
margin-top: 10px;
}

.service-description{
padding: 10px 10px 10px;
margin-bottom: 20%;
line-height: 30px;
}

.service-number{
padding: auto;
margin-left: 10px;
margin-bottom: 36px;
}

/*FORMULARIO*/

.container-inscripcion {
display: flex;
background-color: #000;
margin-top: 40px;
flex-direction: column-reverse;
}

.imagen-inscripcion {
flex: 2;
background-image: url(/assets/images/fotoInscripcion.jpg);
height: 600px;
z-index: 1;
top: 100%;
background-size: cover;
background-position: center;
}

.h1-inscripcion{
line-height: 50px;
font-size: 50px;
}

.A-ENTRENAR-YA{
color: #ff0000;
font-size: 50px;
}

.p-inscripcion {
/* float: left; */
margin-right: 10%;
/* margin-left: 5%; */
font-size: 20px;
text-align: left;
color: #fff;
}

button {
padding: 7px 20px;
border: 2px solid #fff;
background-color: transparent;
color: #fff;
cursor: pointer;
margin-top: 10px;
margin-bottom: 10px;
}

.buttons-container {
display: flex;
justify-content: space-between;
margin-top: 10px;
margin-bottom: 10px;
}

/*CLIENTES*/

.columna-texto {
font-size: 20px;
margin: 40px;
color: #ffffff;
}

.primer-parrafo p, .segundo-parrafo p, .tercer-parrafo p {
max-width: 100%;
margin: 0;
text-align: center;
}

.foto-luis {
display: none;
}

.foto-jaime{

display: none;

}
.foto-gabs{
display: none;
}

/*UBICACION*/

.foto-ubicacion {
background-image: url(/assets/images/foto-ubicacion.jpg);
width: 20em;
height: 20em;

}

/*FOTER*/
.menu-footer {
display: grid;
grid-template-columns: 1fr; /* Ajusta a 3 columnas en lugar de 1 */
justify-content: center;
align-items: start; /* Alinea los elementos al inicio */
gap: 3rem;
padding: 2rem; /* Agrega padding para que no esté pegado a los bordes */
}

.title-footer {
font-size: 1.4rem; /* Aumenta un poco el tamaño si es necesario */
text-align: center; /* Asegúrate de que el texto esté centrado */
margin-bottom: 1rem; /* Agrega un margen abajo para separarlo de la lista */
}

ul {
list-style: none; /* Remueve los bullets de la lista */
padding: 0; /* Remueve el padding por defecto de las listas */
margin: 0; /* Remueve el margen por defecto de las listas */
}

ul li {
font-size: 1.2rem;
text-align: center; /* Asegura que el texto esté centrado */
margin-bottom: 0.5rem; /* Agrega un pequeño margen entre elementos de la lista */
}

/* Agrupa las clases que comparten las mismas propiedades para evitar repetición */
.contact-info,
.information,
.my-account,
.familia-coreevolution {
display: flex; /* Usa flexbox para mejor control del layout */
flex-direction: column;
align-items: center;
text-align: center; /* Asegura que el texto esté centrado */
}
}

@media (max-width:320px) {
  .foto-ubicacion {
    background-image: url(/assets/images/foto-ubicacion.jpg);
    width: 15em;
    height: 20em;
    
    }
}