@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  background-image: url(/assets/images/HOME2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Cambia el último valor (0.5) para ajustar la opacidad */
  z-index: -1;
  /* Asegúrate de que la capa esté detrás del contenido principal */
}



.navbar {
  position: fixed;
  /* Cambiado de absolute para fijar la navbar */
  top: 0;
  left: 0;
  width: 100%;
  padding: 2px 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  /* Cambiado a un color sólido para visualizar la navbar */
  color: white;
  z-index: 1000;
  border-bottom: 1px solid #ffffff;
}

/* REDES SOCIALES */

.left-section {
  min-width: 15px;
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
}

.left-section .social-circle {
  margin-top: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 5px;
  /* Ajusta el margen entre los círculos según tus preferencias */
}

.left-section .social-circle a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.left-section .social-circle i {
  margin-top: 3px;
}


.nav-item {
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 21px;
  font-family: Bebas Neue;
  margin-right: 20px;
  align-items: right;
}

.nav-item.active {
  color: red;
}

.right-section {
  display: flex;
  align-items: center;
}

.home-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  margin-top: 8%;
  margin-bottom: 5%;
}

.welcome-text {
  max-width: 800px;
  text-align: left;
  display: flex;
  flex-direction: column;
  color: #ffffff;

}

.welcome-text h1 {
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 10%;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  margin-left: 50px;
  margin-bottom: 0%;
}

.welcome-text .core {
  color: rgb(255, 0, 0);
}

.welcome-text .red {
  color: red;
}

.welcome-text h2 {
  font-size: 20px;
  margin-top: 5px;
  max-width: 100%;
  word-wrap: break-word;
  font-family: Poppins;
  color: #ffffff;
  font-weight: 100;
  margin-left: 50px;
}

.button-container {
  margin-top: 20px;
  text-align: left;
  margin-left: 10%;
}

.red-button {
  background-color: transparent;
  color: red;
  border: 5px solid red;
  padding: 5px 30px;
  font-size: 25px;
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.red-button:hover {
  background-color: red;
  color: white;
}


/* Estilos para LEVEL y UP */


.additional-texts {
  position: absolute;
  right: 20px;
  margin-bottom: 10%;
  margin-right: 5%;
}

.additional-texts h3 {
  font-size: 154px;
  margin: -36px 0;
  text-align: right;
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  letter-spacing: 4px;
}



.experience-section {
  display: flex;
  flex-direction: wrap;
  padding: 5px;
  margin-top: 20px;
  overflow-x: auto;
  /* Agrega una barra de desplazamiento horizontal si es necesario */
  margin-right: 1072px;
}


.experience-item {
  text-align: left;
  /* Alinea el texto a la izquierda */
  margin-bottom: 10px;
  /* Reduce el margen inferior entre los elementos */
  position: relative;
  padding-left: 10%;
}

.experience-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 35px;
  bottom: 0;
  width: 2px;
  background-color: #ff0000;

}

.experience-item:first-child::before {
  display: none;

}

.number {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
  color: #ff4500;
}


.description {
  font-size: 16px;
  color: #ffffff;
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}


/* Para agregar un salto de línea */
.description br {
  display: block;
  content: "";
  margin-top: 0;
}


/*SERVICIOS*/

.services-container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #000000;
  color: white;
  background-size: cover;
  background-position: center;
  margin-top: 40px;
}

.services-title {
  font-size: 80px;
  text-align: center;
  color: transparent;
  /* Hacemos el texto transparente */
  margin-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(to right, #ffffff 50%, #ff0000 50%);
  /* Gradiente que cambia de rojo a blanco en la mitad */
  background-clip: text;
  /* Aplicamos el fondo solo al área ocupada por el texto */
  -webkit-background-clip: text;
  /* Para compatibilidad con navegadores basados en WebKit como Chrome y Safari */
}

.services-description {
  font-size: 1em;
  text-align: center;
  margin-bottom: 30px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.service-item {
  background-color: transparent;
  padding: 50px;
  /* Ajusta el valor de padding según tus necesidades */
  position: relative;
  border: 1px solid red;
  margin: 5%;
}

.service-title {
  font-size: 32px;
  color: #ff0000;
  margin-top: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.service-description {
  font-size: 1em;
  color: #ffffff;
  line-height: 20px;
}

a.service-item {
  text-decoration: none;
}  

.service-number {
  position: absolute;
    bottom: -10px;
    align-items: flex-start;
    /* padding: 5px 0px; */
    font-size: 2em;
    color: #fff;
    margin-bottom: 3%;
    font-family: "Bebas Neue", sans-serif;
}

/*Esto es la inscripcion(Vamos a empezar a entrenar ya)*/
.container-inscripcion {
  display: flex;
  background-color: #000;
  margin-top: 40px;
}
.container-izq {
  color: white;
  flex-basis: 50%; /* Ocupa el 50% del contenedor principal */
  padding: 20px; /* Espaciado interior para el texto */
}

.imagen-inscripcion {
  flex: 2;
  background-image: url('/assets/images/fotoInscripcion.jpg'); 
    height: 780px;
    z-index: 1; /* Añadido para asegurarse de que esté encima del overlay y el contenido */
    top: 100%; 
    background-size: cover;
    background-position:center;
}

.h1-inscripcion  {
  text-align: center;
  margin-top: 5%; 
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  color: #fff;
 }

 .color-destacado{
  color: red;
 }


 .p-inscripcion {
  float: left; /* Hace que el texto flote hacia la izquierda */
  margin-right: 10%;
  margin-left: 5%;
  font-size: 26px; /* Aumenta el tamaño de la letra  */
  text-align: justify; /* Justifica el texto*/
  color: #fff;
 }


.h2-inscripcion {
  color: red;
  font-size: 50px;
  margin-top: 5%;
  text-align: center;
}

.A-ENTRENAR-YA {
  color: red;
}

.container-derch {
  flex-basis: 50%; /* Ocupa el 50% del contenedor principal */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #000;
}

.celdas {
  padding-right: 40px;
}

/*OPINIONES*/

.container-opiniones{
  background-color: #000;
  margin-top: 40px;
}

.color-clientes{
  color: #ff0000;
}

.encabezado{
  width: auto;
  height: auto;
  padding: 20px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color:#fff ;
  background-color: #000;
}
.primer-parrafo, .segundo-parrafo, .tercer-parrafo{
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 40px;
}
.columna-fotos{
  position: absolute;
  width: 100px;
  height: 800px;
  border: 3px solid rgb(235, 0, 0);
  float: right;
  display: flex;
  flex-direction: column;
  place-content: space-between;
  float: left;
  /*border-radius: 300px; */
  
}
.columna-texto{
  font-size: 20px;
  margin: 40px;
  color: #ffffff;
  padding-bottom: 20px;
}
.foto-luis {
width: 100px;
height: 100px;
background-image: url(/assets/images/Foto\ Luis.jpg);
background-size: cover;
background-position: center;
border-radius: 100%;
margin-right: 80px; /* Agrega un margen a la derecha de la imagen */
}
.foto-jaime{
  width: 100px;
  height: 100px;
  background-image: url(/assets/images/Foto\ Escarcheto.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: 80px; /* Agrega un margen a la derecha de la imagen */
}
.foto-gabs{
  width: 100px;
  height: 100px;
  background-image: url(/assets/images/Foto\ gabs.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: 80px; /* Agrega un margen a la derecha de la imagen */
}
.primer-parrafo, .segundo-parrafo, .tercer-parrafo {
display: flex;
align-items: center; /* Asegúrate de que la imagen y el texto estén alineados en el centro verticalmente */
justify-content: center; /* Centrar los elementos horizontalmente */
font-size: 20px;
margin: 40px;
text-align: left; /* Alinear el texto a la izquierda */
gap: 20px; /* Agrega espacio entre la imagen y el texto */
}



/* Si quieres que la imagen siempre esté a la izquierda del texto, independientemente de la dirección del texto */
.primer-parrafo, .segundo-parrafo, .tercer-parrafo {
flex-direction: row; /* Coloca los elementos en una fila */
}

/* Ajusta el tamaño del párrafo para no utilizar anchuras fijas que no son responsivas */
.primer-parrafo p, .segundo-parrafo p, .tercer-parrafo p {
max-width: 80%; /* O un valor que se adapte bien a tu diseño */
margin: 0; /* Elimina los márgenes por defecto del párrafo */
text-align: justify;
}

/*UBICACION*/

.encabezado-Ubicacion, .gym-abajo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  color: red;
  padding: 10px 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  margin-bottom: 0;
  background-color: #000;
}

.container-Ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #000;
  flex-direction: column;
}

.foto-ubicacion{
  background-image: url(/assets/images/foto-ubicacion.jpg);
  width: 30em;
  height: 30em;
  background-size: cover;
  background-position: center;
  margin: 0;
  outline: 3px solid red;
  outline-offset: 15px;
}

/*FOOTER*/

.footer {
  width: 100%;
}

.container-footer {
	display: flex;
  align-items: center;
  flex-direction: column;
	gap: 5rem;
	padding: 3rem;
  border: 4px solid red;
  background-color: #000;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
  color: red;
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu-footer {
    flex-direction: column;
  }
}

.contact-info,
.information,
.my-account,
.familia-coreevolution {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul,
.familia-coreevolution ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li,
.familia-coreevolution ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}
