body {
  font-family: "Bebas Neue", sans-serif;
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2px 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    z-index: 1000;
    border-bottom: 1px solid #ffffff;
     
  }
  
  /* REDES SOCIALES */
  
  .left-section {
    min-width: 15px;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
  }
  
  .left-section .social-circle {
    margin-top: 2%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-right: 5px; /* Ajusta el margen entre los círculos según tus preferencias */
  }
  
  .left-section .social-circle a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  
  .left-section .social-circle i {
    margin-top: 3px;
  }
  
  
  .nav-item {
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-family: Bebas Neue;
    margin-right: 20px;
    align-items: right;
  }
  
  .nav-item.active {
    color: red;
  }



  .working-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto toma el 100% de la altura de la pantalla */
    width: 100vw; /* Esto toma el 100% de la anchura de la pantalla */
    background-color: #000; /* Cambia esto por el color de fondo deseado */
  }
  
  .working-animation {
    font-size: 2em; /* Cambia esto para ajustar el tamaño */
    color: white; /* Cambia el color del texto según tu diseño */
    animation: blinker 1.5s linear infinite;
  }
  
  @keyframes blinker {
    50% { opacity: 0; }
  }
  
  